@using Inspire.Portal.App_GlobalResources
@model Inspire.Portal.Models.Account.ForgottenPasswordViewModel
@using (Ajax.BeginForm("ForgottenPassword", "Account", new AjaxOptions
                                                       {
                                                           HttpMethod = "POST",
                                                           OnSuccess = "core.onKendoWindowSuccessCallback"
                                                       }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="form-input fullwidth">
        @Html.LabelFor(m => m.UserName, new { @class = "required" })
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div class="form-input fullwidth">
        @Html.Partial("_Captcha")
    </div>

    <div class="clear"></div>
    <div class="form-control fullwidth">
        <input type="submit" class="bttn main caps right" value="@Resource.Send"/>
    </div>
    <div class="clear"></div>
}