@using Inspire.Portal.App_GlobalResources
@using Inspire.Utilities.Extensions
@model Inspire.Portal.Models.Error.ErrorViewModel
@{
    var defaultUrl = Url.RouteUrl("Default", new { controller = string.Empty, action = string.Empty });
    var backUrl = Request.UrlReferrer?.AbsolutePath.IsNotNullOrEmpty() == true && Url.IsLocalUrl(Request.UrlReferrer?.AbsolutePath)
        ? Request.UrlReferrer?.AbsolutePath
        : defaultUrl;
}
<div class="error404 text-center">
    <div>
        @{
            for (var i = 0; i < Model.Code.Length; i++)
            {
                if ((i + 1) % 2 == 0)
                {
                    <span class="maincolor">@Model.Code[i]</span>
                }
                else
                {
                    @Model.Code[i]
                }
            }
        }
    </div>
    <h1>@Model.Title</h1>
    <p>
        @Model.Message
    </p>
    <div class="linkbacks">
        <a href="@backUrl">@Resource.Back</a>
        <a href="@defaultUrl">@Resource.Home</a>
    </div>
</div>